<body class="body_profile">
  <div class="profile-container">
    <header class="profile-header">
      <div class="profile-info">
        <div class="profile-image">
        </div>
        <div class="profile-details">
          <% @user.each do |user| %>
          <% if user_signed_in? && current_user.id == user.id  %>
           <%= link_to user.nickname,  root_path , class:"profile-username"%> 
           <% end %>
          <% end %>
          <div class="profile-stats">
            <% @profile.each do |profile| %> 
            <% if user_signed_in? && current_user.id == profile.user_id  %>
            <span>introduction<br />  
            <strong><%= profile.user_profile %></strong></span> 
            <span>gender<br />  
            <strong><%= profile.gender.name %></strong></span> 
            <%# <span><strong><%= "profile.user_follower_figure" %></strong> followers</span>  
            <%# <span><strong><%= profile.user_following_figure %></strong> following</span> 
            <%# <span><strong><%= profile.gender_id</strong> gender</span>  %> 
             <div >
               <%= link_to "register", new_profile_path(profile), class: :edit_btn %> 
             </div> 
             <div>
               <%= link_to "edit",  edit_profile_path(profile.id), class: :edit_btn %> 
             </div> 
             <% end %>
            <% end %> 
          </div>
        </div>
       
        
      </div>
    </header>
    <div class="profile-posts">
        <% @post.each do |post| %> 
        <% if user_signed_in? && current_user.id == post.user_id  %>
        <div class="profile-post">
          <%= image_tag post.image%>
        <div class="post_text">
          <%= post.post_text%>
        </div>
        </div>
        <% end %> 
        <% end %> 
    </div>
  </div>
</body>