 
  <div id="like-btn<%= post.id %>">
    <%= turbo_frame_tag dom_id(post, :like) do %>
      <% if user_signed_in? && post.liked_by?(current_user)%>
        <%=link_to  post_likes_path(post.id),  data: { turbo_method: :delete }, class: "post_liked", remote: true do %>
        <i class="fa-solid fa-heart"></i>
        <%= post.likes.count %>
        <% end %>
      <% else %>
        <%=link_to post_likes_path(post.id), data: { turbo_method: :post }, class: "post_likes", remote: true do %>
        <i class="fa-regular fa-heart"></i>
        <%= post.likes.count %>
        <% end %>
      <% end %>
    <% end %>
  </div>
 
   

